* {
  box-sizing: border-box;
  border: 1px solid black;
}

.App {
  min-height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #342831;
  font-size: calc(10px + 2vmin);
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Body-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
